/*
*= require material_icons
*/
@import "materialize/components/color-variables";
$primary-color: color("red", "base") !default;
$secondary-color: color("red", "base") !default;
@import "materialize";
